//<FORM>
// Сніппет (HTML):
.form {
	&__row {
	}
	&__column {
	}
	&__line {
	}
	&__input {
	}
	&__button {
	}
	&__error {
		flex: 1 1 100%;
		color: red;
		text-transform: capitalize;
		text-align: center;
		font-size: rem(20);
		padding: rem(10);
	}
}
//</FORM>

// <BUTTONS>
// Сніппет (HTML): btn
 @import "button";

// <INPUTS>
// Сніппет (HTML): inp
 @import "input";

// <CHECK>
// Сніппет (HTML): chk
// @import "checkbox";

// <RADIO>
// Сніппет (HTML): opt
// @import "radio";

// <SELECT>
// Сніппет (HTML): sel
 @import "select";

// <RATING>
// Сніппет (HTML): rating
// @import "rating";

// <QUANTITY>
// Сніппет (HTML): qa
// @import "quantity";

// <RANGE>
// Сніппет (HTML):
// @import "range";

// <CALENDAR>
// Сніппет (HTML):
// @import "datepicker";
