@use "sass:math";

// Соединение миксов ===========================================================================================================================================================================================================================================================================
@import "base/mixins";

// Соединяющие шрифты ===========================================================================================================================================================================================================================================================================
//&display=swap - Добавьте при подключении через плагин

// Подключитесь, если есть локальные файлы шрифтов
@import "fonts/fonts";

// Подключение шрифтов значков ==============================================================================================================================================================================================================================================================================
// Подключите, если есть файл шрифта значка
@import "fonts/icons";
 

// ============================================================================================================================================================================================================================================================================================================================================================================================
// Настройка шаблона ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: "poppins";
$fontSize: rem(16); // тоже 14(px) - Размер шрифта по умолчанию из макета
$fontWeight: 400;

// Основні кольори
$mainColor: #5E6282; // Цвет шрифта по умолчанию
$greenColor: #4BD879;



// Адаптировать адаптивную сетку ===============================================================================================================================================================================================================================================================================================

// Минимальная ширина страницы
$minWidth: 320;
// Ширина холста (макет)
$maxWidth: 1440;
// Ширина контейнера ограничения (0 = Нет ограничений)
$maxWidthContainer: 1160;
// Общее отступление из контейнера
// (30 = по 15px Лево и право, 0 = Нет отступления)
$containerPadding: 30;
// ширина первого Breikpoint
$containerWidth: $maxWidthContainer + $containerPadding;

//Перерыв
$pc: em($containerWidth); // ПК, ноутбуки, некоторые таблетки в горизонтальном положении
$tablet: em(991.98); // Таблетки, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

// Адаптируемый тип:
// 1 = отзывчивость (контейнер не имеет точек останова),
// 2 = по точке разрыва (контейнер меняет ширину на точку разрыва)
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Вверх ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "base/null";

// Стили тега BODY ============================================================================================================================================================================================================================================================================================================================================================================================
// сайт загружен!
html {
	&.loaded {
		.description-start{
			&__sub-title{
				animation: showText 0.6s linear forwards 0.2s;
			}
			&__title{
				animation: showText 0.6s linear forwards 0.6s;
			}
        	&__text{
				animation: showText 0.6s linear forwards 1s;
			}
			&__button{
				animation: showText 0.3s linear forwards 1.2s;
			}
			&__youTube-link{
				animation: showText 0.3s linear forwards 1.2s;
			}
		}
		.className{}   // имя класса для которого ловим onLoad
	}
	&.touch{
		.logos__item{
			background: #FFFFFF;
			box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
			border-radius: 10px;  
		}
		.destinations__desc{
			transform: translate(0px,0px); 
            opacity: 1;
            visibility: visible;
		}
	}
}
body {
	// свиток заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}

// Обертка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Мы нажимаем нижний колонтитул
	> main {
		flex: 1 1 auto;
	}
	// Исправлена ​​ползунки
	> * {
		min-width: 0;
	}
}
// Обмежуючий контейнер ======================================================================================================================================================================================================================

/*
(i) Стили будут применены к
все классы, содержащие *__container
К примеру header__container, main__container и т.п.
Фрагмент (HTML): cnt
*/
@if ($responsiveType==1) {
	// Чуйна
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	// Контрольные точки
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}
// Сединение основных стилей, шаблонов (заготовки) и вспомогательных классов
// для подключения/отключения конкретных стилей см. Base.scss
@import "base";


// Соединение стилей отдельных блоков
@import "header";
@import "footer";

//common

._sub-title {
	font-weight: 600;
	@include adaptiveValue("font-size", 18, 16);
	line-height: math.div(27 , 18);
	color: #5E6282;
}

._title {
	font-family: 'Volkhov';
	font-weight: 700;
	@include adaptiveValue("font-size", 50, 35);
	line-height: math.div(64 , 50);
	text-transform: capitalize;
	color: #14183E;
}


// Соединение стилей отдельных страниц
@import "home";

